@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-content: center;
  }
} */

body {
  display: flex;
  justify-content: center;
  align-items: center;
}